[submodule "components/frozen/frozen"]
	path = components/frozen/frozen
	url = https://github.com/cesanta/frozen.git
[submodule "components/hardware"]
	path = components/hardware
	url = git@github.com:jkent/odroid-go-hardware-lib.git
